html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

body {
  overflow: hidden;
}

.wrapper {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

// Shared button styles
.projectTextContainer a,
button[type="submit"] {
  cursor: pointer;
  background: $white;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  box-shadow: $shadow;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    border: 1px solid $black;
  }
  &:active {
    background: darken(#fff, 15%);
  }
}
