header {
  padding-top: 8rem;
  height: 75rem;
  background: linear-gradient(70deg, $lightGreen 60%, $lightPurple 60%);
  position: relative;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      width: 40%;
      margin-bottom: 0;
    }
    h2 {
      width: 40%;
      margin-top: 1rem;
    }
    .imageContainer {
      width: 55rem;
      margin-top: -3rem;
      position: absolute;
      bottom: -2rem;
      z-index: 10;
    }
  }
}

header::before {
  content: "";
  background-image: url("../../assets/blob-1.png");
  background-size: 50rem 56rem;
  background-repeat: no-repeat;
  width: 50rem;
  height: 56rem;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.imageContainer::after {
  content: "";
  background-image: url("../../assets/blob-2.png");
  background-size: 72rem 45rem;
  background-repeat: no-repeat;
  width: 72rem;
  height: 45rem;
  display: inline-block;
  z-index: -1;
  position: absolute;
  bottom: 2rem;
  left: -10rem;
}

.typeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 18rem;
  margin-top: 2rem;
  z-index: 15;
}

.typer {
  display: block;
}

ol {
  z-index: 20;
  list-style: none;
  li {
    position: relative;
    a {
      padding: 1rem 1.67rem;
      background: #f2f2f2f2;
      border-radius: 50%;
      box-shadow: 0 0.3rem 1.5rem 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.number:hover {
  animation: jiggle 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes jiggle {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.one {
  right: 16rem;
  top: 2rem;
}
.two {
  left: 12rem;
  top: 7rem;
}
.three {
  left: 14.5rem;
  top: 21rem;
}
.four {
  right: 26.5rem;
  top: 30rem;
}
