header {
  padding-top: 10rem;
  min-height: 100vh;
  background: linear-gradient(70deg, $lightGreen 60%, $lightPurple 60%);
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      width: 40%;
      margin-bottom: 0;
    }
    h2 {
      width: 40%;
      margin-top: 1rem;
    }
    img {
      width: 80%;
    }
  }
}

.typeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 18rem;
}

.typer {
  display: block;
}

a {
  display: block;
  padding: 1.2rem 0;
  transition: 0.2s ease;
}
