@media (min-width: 1500px) {
  nav .wrapper {
    height: 12rem;
  }
  header {
    background: linear-gradient(65deg, $lightGreen 57%, $lightPurple 57%);
    height: 90rem;
    .wrapper .imageContainer {
      width: 65rem;
    }
    h1 {
      font-size: 5.3rem;
      margin-top: 8rem;
    }
    h2 {
      font-size: 3.2rem;
    }
  }
  header::before {
    background-size: 68rem 72rem;
    width: 68rem;
    height: 72rem;
  }
  .imageContainer::after {
    background-size: 88rem 55rem;
    width: 88rem;
    height: 55rem;
    left: -12rem;
  }
  .one {
    right: 16rem;
    top: 11rem;
  }
  .two {
    left: 15rem;
    top: 18rem;
  }
  .three {
    left: 18rem;
    top: 35rem;
  }
  .four {
    right: 28rem;
    top: 46rem;
  }
  .about {
    background: linear-gradient(90deg, $lightPurple 38%, $lightGreen 38%);
  }
}
