@media (min-width: 1500px) {
  html {
    scroll-padding-top: 13rem;
  }
  nav .wrapper {
    height: 12rem;
    .logoContainer {
      width: 15rem;
    }
  }
  header {
    background: linear-gradient(65deg, $lightGreen 57%, $lightPurple 57%);
    height: 98rem;
    .wrapper .imageContainer {
      width: 65rem;
    }
    .typeContainer {
      margin-top: 9rem;
      h1 {
        font-size: 5.3rem;
      }
      h2 {
        font-size: 3.2rem;
      }
    }
  }
  header::before {
    background-size: 68rem 72rem;
    width: 68rem;
    height: 72rem;
  }
  .imageContainer::after {
    background-size: 88rem 55rem;
    width: 88rem;
    height: 55rem;
    left: -12rem;
  }
  .one {
    right: 16rem;
    top: 15rem;
  }
  .two {
    left: 15rem;
    top: 20rem;
  }
  .three {
    left: 18rem;
    top: 38rem;
  }
  .four {
    right: 28rem;
    top: 47rem;
  }
  .about {
    padding-bottom: 5rem;
    .overviewText {
      width: 40%;
    }
  }
}

@media (max-width: 1114px) {
  header h1 {
    font-size: 3.8rem;
  }
  header h2 {
    font-size: 2.8rem;
  }
  .trait {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  .about .overviewText {
    width: 100%;
  }
  // .iconsContainer i {
  //   font-size: 6rem;
  // }
}

@media (max-width: 955px) {
  nav {
    li {
      margin: 0 3rem;
    }
    a {
      font-size: 2rem;
    }
  }
  header {
    height: 85rem;
    background: linear-gradient(65deg, #dcf4de 50%, #d0d9e5 50%);
  }
  header .wrapper {
    h1 {
      width: 55%;
    }
    h2 {
      width: 55%;
    }
  }
  header .typeContainer {
    margin-top: 10rem;
  }
  header::before {
    background-size: 35rem 41rem;
    bottom: -15.25rem;
  }
  .imageContainer::after {
    background-size: 55rem 33rem;
    bottom: -8rem;
    left: -1rem;
  }
  .one {
    right: 14rem;
    top: 7rem;
  }
  .two {
    left: 14rem;
    top: 11.2rem;
  }
  .three {
    left: 16rem;
    top: 26rem;
  }
  .four {
    right: 24rem;
    top: 34rem;
  }
  .about .flexContainer {
    flex-direction: column;
  }
  .about .wrapper .listContainer {
    width: 100% !important;
    justify-content: center;
    .trait {
      flex-direction: row;
    }
    .toggleDisplay {
      display: none;
    }
  }
  .hideListItems {
    display: inherit;
  }
  .about .wrapper .infoContainer {
    width: 100%;
    padding: 6rem 2rem 0;
  }
  .projects .projectContainer {
    padding-top: 0;
    .project {
      flex-direction: column;
      text-align: center;
    }
  }
  .project:nth-of-type(2n + 1),
  .project:nth-of-type(2n) {
    .projectImageContainer {
      margin: 0;
    }
    .projectTextContainer {
      padding: 0;
    }
  }
  .project .projectTextContainer,
  .project .projectImageContainer {
    width: 90%;
  }
}
