nav {
  position: fixed;
  width: 100%;
  background: #f2f2f2f2;
  box-shadow: 0 0.2rem 1.5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 20;
  .wrapper {
    display: flex;
    align-items: center;
    height: 10rem;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
    .logoContainer {
      width: 15rem;
    }
  }
}

nav li {
  margin: 0 5rem;
  a {
    position: relative;
    padding: 0.3rem 0;
  }
}

// nav li:nth-child(2) {
//   width: 10rem;
// }

// Link underline, scale from center
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: $darkGreen;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}

nav a:hover::after,
nav a:focus::after {
  transform: scale(1);
}
