.projects {
  background: $lightPurple;
  padding: 5rem 0 10rem;
  h2 {
    padding-bottom: 5rem;
    text-align: center;
  }
  .projectContainer {
    background: $lightGreen;
  }
}

.project {
  display: flex;
  align-items: center;
  padding: 6rem 3rem;
  .projectImageContainer {
    width: 53%;
  }
  .projectTextContainer {
    width: 47%;
  }
}
