// Font import - Quicksand and Lato
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@600&display=swap");

$quicksand: "Quicksand", sans-serif;
$lato: "Lato", sans-serif;

// colours
$black: #414141;
$white: #f1f1f1;
$lightGreen: #dcf4de;
$lightPurple: #d0d9e5;
$darkGreen: #99c3b4;
$darkPurple: #b2c1d8;
