// Font import - Quicksand and Lato
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@600&display=swap");

$quicksand: "Quicksand", sans-serif;
$lato: "Lato", sans-serif;

// colours
$black: #414141;
$white: #fffffff6;
$lightGreen: #dcf4de;
$lightPurple: #d0d9e5;
$darkGreen: #99c3b4;
$darkPurple: #b2c1d8;

// box shadow
$shadow: 0 0.3rem 1.5rem 0 rgba(0, 0, 0, 0.25);
